<%- include('partials/header', { title: "Landing Page" }) %>
<h1>Welcome, <%= username %></h1>

<% if (role === 'admin') { %>
<h2>Registered Users:</h2>
<ul>
  <% users.forEach((user, index) => { %>
  <li>
    <strong>#<%= index + 1 %> Name:</strong> <%= user.username %>,
    <strong>Email:</strong> <%= user.email %>, <strong>Role:</strong> <%=
    user.role %>
  </li>
  <% }) %>
</ul>
<p><strong>Total Users:</strong> <%= users.length %></p>
<% } else { %>
<p>This is your user dashboard.</p>
<% } %>

<a href="/logout">Logout</a>
<%- include('partials/footer') %>
